@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background-color: #990000; color: white;" >
    <h1>Movie App</h1>
    <h3>Custom Movie Database</h3>
</div>
<div class="row" style="margin:0 auto">

    <div class="col-sm-4" style="border:solid red 2px; background-color: rgba(255,255,255,0.7); height: 50vh; ">
        <p style=" padding: 20px; ">
            <h3>Welcome to Movie Search App where you can have your very own movie database. </h3>
            <h3>Features include:  </h3>
            <ul>
                <li><h4>Edit and Delete your list of movies</h4></li>
                <li><h4> Search your movies by Title, Release Date, Genre, Price and Rating</h4></li>
            </ul>

        </p>
    </div>
    <div class="col-sm-4" style="border:solid red 2px; height: 50vh; padding: 20px; ">

    </div>
    <div class="col-sm-4" style="border:solid red 2px; height: 50vh; padding: 20px; ">

    </div>
</div>


